<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiter</title>
</head>
<body>
    <form action="">
        <label for="username">Username</label><br>
        <input type="text" #username name="username"><br>
        <label for="password">Password</label><br>
        <input type="text" #password name="password"><br>
        <button (click)="registerUser(username.value,password.value)"><a href="../login/">Register</a></button>
    </form>
</body>
</html>